@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: scroll !important;
}

body {
	background: url(/images/bao-background.webp) fixed;
	font-family: 'Inter', sans-serif;
	color: #faf2e3;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

.bg-rainbow {
	background: linear-gradient(
		45deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	) !important;
	background-size: 300% 300% !important;
	border-radius: 8px !important;
	filter: blur(6px) !important;
	position: absolute !important;
	top: -4px !important;
	right: -4px !important;
	bottom: -4px !important;
	left: -4px !important;
	z-index: -1 !important;
}

/* Scrollbar Styling */
/* Width */
::-webkit-scrollbar {
	width: 14px;
	border-radius: 100%;
}
/* Track */
::-webkit-scrollbar-track {
	background: #e21a53;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #1e2022;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1e2022;
}

#__next {
	height: calc(100vh - 72px);
}

::selection {
	background: rgba(256, 256, 256, 0.1);
}

.react-datepicker__input-container input {
	@apply block w-full rounded border bg-transparent-100 text-base text-transparent-200 shadow-sm md:text-sm;
}

.react-datepicker-popper {
	@apply z-40 w-72 rounded border-2 bg-transparent-100 px-3 py-2 text-sm text-transparent-200 shadow;
}

.react-datepicker-left {
	@apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
	@apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__portal {
	@apply absolute top-12 right-0 z-10 w-72 transform-none rounded border-2 border-transparent-200 bg-baoWhite px-3 py-2 text-sm shadow;
}

.react-datepicker__month-container {
	@apply flex flex-col;
}

.react-datepicker__month {
	@apply flex flex-col;
}

.react-datepicker__current-month {
	@apply ml-2.5 text-lg font-semibold text-baoRed;
}

.react-datepicker__week {
	@apply flex justify-around;
}

.react-datepicker__day-names {
	@apply flex justify-around text-center text-xs font-medium text-baoRed;
}

.react-datepicker__day-name {
	@apply flex h-8 w-8 items-center justify-center rounded-full py-1 text-baoRed;
}

.react-datepicker__navigation {
	@apply absolute top-2;
}

.react-datepicker__navigation--previous {
	@apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__navigation--next {
	@apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__day {
	@apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center py-1 text-sm leading-loose text-baoWhite transition;
}

.react-datepicker__day--disabled {
	@apply cursor-not-allowed opacity-40;
}

.react-datepicker__day--outside-month {
	@apply text-gray-300;
}

.react-datepicker__day--in-range {
	@apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
}

.react-datepicker__day--selecting-range-start {
	@apply bg-white;
}

.react-datepicker__day--selecting-range-end {
	@apply bg-white;
}

.react-datepicker__day--selected {
	@apply rounded border bg-transparent-100 text-transparent-200 text-white;
}

.react-datepicker__day--range-start {
	@apply text-white hover:bg-white hover:text-gray-700;
}

.react-datepicker__day--range-end {
	@apply text-white hover:bg-white hover:text-gray-700;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type='range']::-webkit-slider-thumb {
		width: 15px;
		-webkit-appearance: none;
		appearance: none;
		height: 15px;
		cursor: ew-resize;
		background: #ffd84b;
		border-radius: 50%;
	}
}

.app-layer {
	display: flex;
	position: relative;
	/* Setting the size of the upper layer to 80% of the screen size*/
	min-height: 80vh;
	width: 80vw;
	justify-content: space-between;
	margin-top: 10vh;
	margin-left: 10vw;

	/*the alpha value controls the transparency*/
	background: #1e202280;

	/* This controls the blurring effect*/
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(25px);

	/*Adding the shadow*/
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);

	/* Adding our borders*/
	border-radius: 3rem;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 4;
}

.stroke {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: #e21a53;
	-webkit-text-stroke-width: 1.5px;
}

.iconAnim {
	fill: #ff0000;
}

.iconAnim:hover {
	filter: hue-rotate(0deg);
	animation: iconColor 5s infinite linear;
}

@keyframes iconColor {
	12.5% {
		fill: hue-rotate(20deg);
	}
	25% {
		fill: hue-rotate(40deg);
	}
	37.5% {
		fill: hue-rotate(60deg);
	}
	50% {
		fill: hue-rotate(80deg);
	}
	62.5% {
		fill: hue-rotate(100deg);
	}
	75% {
		fill: hue-rotate(120deg);
	}
	87.5% {
		fill: hue-rotate(140deg);
	}
	100% {
		fill: hue-rotate(160deg);
	}
}
