@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: scroll !important;
}

body {
	background: url(/images/background_overlay_dark.png), radial-gradient(circle at center, #391818, #210e0e 50%) fixed;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff8ee;
	transition: 200ms;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

/* Scrollbar Styling */
/* Width */
::-webkit-scrollbar {
	width: 14px;
	border-radius: 100%;
}
/* Track */
::-webkit-scrollbar-track {
	background: #391818;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #622a2a;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #562424;
}

#__next {
	height: calc(100vh - 72px);
}

::selection {
	background: rgba(256, 256, 256, 0.1);
}

.react-datepicker__input-container input {
    @apply block w-full text-base md:text-sm bg-primary-100 border border-primary-300 rounded shadow-sm
}

.react-datepicker-popper {
    @apply z-40 w-72 text-sm bg-primary-100 shadow px-3 py-2 border-2 border-primary-300 rounded
}

.react-datepicker-left {
    @apply absolute left-0 right-auto top-11 transform-none !important
}

.react-datepicker-right {
    @apply absolute right-0 left-auto top-11 transform-none !important
}

.react-datepicker__portal {
    @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-primary-300 rounded
}

.react-datepicker__month-container {
    @apply flex flex-col
}

.react-datepicker__month {
    @apply flex flex-col
}

.react-datepicker__current-month {
    @apply ml-2.5 text-lg font-semibold text-text-200
}

.react-datepicker__week {
    @apply flex justify-around
}

.react-datepicker__day-names {
    @apply flex justify-around text-text-200 font-medium text-center text-xs
}

.react-datepicker__day-name {
    @apply w-8 h-8 flex items-center justify-center py-1 rounded-full text-text-400
}

.react-datepicker__navigation {
    @apply absolute top-2
}

.react-datepicker__navigation--previous {
    @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__navigation--next {
    @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__day {
    @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-text-100 cursor-pointer
}

.react-datepicker__day--disabled {
    @apply cursor-not-allowed opacity-40
}

.react-datepicker__day--outside-month {
    @apply text-gray-300
}

.react-datepicker__day--in-range {
    @apply bg-gray-200
}

.react-datepicker__day--in-selecting-range {
}

.react-datepicker__day--selecting-range-start {
    @apply bg-white
}

.react-datepicker__day--selecting-range-end {
    @apply bg-white
}

.react-datepicker__day--selected {
    @apply text-white bg-primary-300 border border-primary-400 rounded
}

.react-datepicker__day--range-start {
    @apply text-white hover:text-gray-700 hover:bg-white
}

.react-datepicker__day--range-end {
    @apply text-white hover:text-gray-700 hover:bg-white
}
