.rnc__notification-item {
  border-radius: 3px;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 20%);
  cursor: pointer;
  display: flex;
  margin-bottom: 15px;
  position: relative;
  background-color: rgb(57 24 24 / 1);
  border-left: 8px solid rgb(86 36 36 / 1);
}

.rnc__notification-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.rnc__notification-message {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}
